<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>EliCakes: торты и капкейки</title>
    <link rel="stylesheet" href="style.css">

</head>
<body>
<header class="site-header">
    <div class="container">
        <div class="rectangle-block">
            <h1>EliCakes</h1>
        </div>
    </div>

</header>
<section>
    <h3>Ничего так не поднимет настроение, как вкусный тортик и капкейки, особенно, сделанные специально для Вас</h3>
    <img src = "img/line3.png" style="position:absolute;left:15px;top:320px" width=100% height=100px>
    <img src = "img/emblem4.png" style="position:absolute;left:-20px;top:-15px" width=350 height=350>
    <p> &nbsp </p>
    <div class="images">
        <img src="img/cake1.png" class="zoomable-image" />
        <img src="img/cake2.jpg" class="zoomable-image" />
        <img src="img/cake3.jpg" class="zoomable-image"/>
        <img src="img/cake4.png" class="zoomable-image"/>
        <img src="img/cake5.jpg" class="zoomable-image"/>
        <img src="img/cake6.jpg" class="zoomable-image"/>
        <img src="img/cake9.jpg" class="zoomable-image"/>
    </div>
    <p> &nbsp </p>
</section>

<section>
    <h2>Почему стоит заказать торт?</h2>
    <div class="features">
        <div class="feature">
            <img src="img/icon.png" alt="Индивидуальный подход">
            <p>Индивидуальный подход</p>
        </div>
        <div class="feature">
            <img src="img/icon2.png" alt="Качественные продукты">
            <p>Качественные продукты</p>
        </div>
        <div class="feature">
            <img src="img/icon3.png" alt="Хорошее настроение">
            <p>Хорошее настроение</p>
        </div>
    </div>
</section>
<h2>Примеры вкусов</h2>
<h4>Вкус каждого торта подбирается согласно пожеланиям, поэтому может быть любым</h4>
<form action="/home" method="post" >
    <input type="text" name="cake_name" class="input" placeholder="Искать здесь...">
    <button type="submit"></button>
</form>
<div th:each="c: ${cakes}" class="hover-text-one">
    <figure class="effect-text-four">
        <img width='350px' th:src="${c.image}" alt=""/>
        <figcaption>
            <h2 th:text="${c.cake_name}"></h2>
            <p th:text="${c.info}"></p>
        </figcaption>
    </figure>
</div>

<section>
    <p> &nbsp </p>
    <h2>Варианты оформления</h2>
    <h4>Оформление может быть совершенно любым, начиная от обычных ягод и заканчивая кремовыми рисунками </h4>
    <div class="images">
        <img src="img/cake20.jpg" class="zoomable-image" />
        <img src="img/cake18.jpg" class="zoomable-image" />
        <img src="img/cake19.jpg" class="zoomable-image"/>
        <img src="img/cake17.jpg" class="zoomable-image"/>
        <img src="img/cake21.jpg" class="zoomable-image"/>
        <img src="img/cake22.jpg" class="zoomable-image"/>
        <img src="img/cake13.jpg" class="zoomable-image"/>
    </div>
    <p> &nbsp </p>
</section>
<footer class="site-footer">
    <div class="container">
        <p>© ElizaShuv, 2023</p>
        <p>Домашний кондитер</p>
    </div>
</footer>
</body>
</html>